/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/green-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

.get-help .ol {
    border-bottom: 1px solid #ddd;
  }
  

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 100px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 10rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

div.parent {
	text-align: center;
	}
ol {
	display: inline-block; 
	text-align: left; 
}
li {
	text-align: left; 
}

img.arrow {
    float:right;
    width:100px;
    padding-bottom:10px;
    padding-right:50px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

img.spotify-howto {
    width: 100%;
}

input.spotify {
  padding-bottom:10px;
}

p.smalltext {
  font-size: small;
  text-align: center;
}

p.smalltext:focus ~ div.spotify-howto {
  display: block;
}

div.spotify-howto {
  display: none;
}

input[type=checkbox].reveal {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  text-align: center;
}

label.spotify_uri {
  text-align: left;
  padding-top: 100px;
}

input[type=radio] {
  float: left;
  padding-left: 10px;
}

label.reveal { 
 -webkit-appearance: push-button;
 -moz-appearance: button; 
 display: inline-block;
 margin: 60px 0 10px 0;
 cursor: pointer;
 color: #1EAEDB;
 text-align:center;
}

/* Toggled State */
input[type=checkbox].reveal:checked ~ div.spotify-howto {
  display: block;
}

td.bg-wrap {
  position: relative;
  overflow: hidden;
  padding: 16px;
}

td.bg-wrap label {
  position: relative;
  z-index: 5;
}

td.bg-wrap input {
  position: relative;
  z-index: 5;
}

td.bg-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

div.center {
  margin-left: auto;  
  margin-right: auto;
}

p.thick {
  font-weight: bold;
}

p.error {
  color: red;
}

p.playlist img {
  float: right;
  margin: 10px;
  height: 150px;
}

.scrollbox {
  float: left;
  height: 500px;
  width: 100%;
  overflow: auto;
}

.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 25px;
}

header li img {
  margin: 5px;
  vertical-align: bottom;
}

header li a {
  color: black;
  text-decoration: none;
}

.body {
  padding-top: 25px;
}