<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Spotitube</title>
  <meta name="description" content="">
  <meta name="author" content="Chris VanderKolk">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/normalize.css">
  <link rel="stylesheet" href="../static/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <form action="/dothing" method="POST">
      <div class="row">
        <div class="one-half column">
          <label for="spotify_playlist_uri">Spotify Playlist URI</label>
          <input class="u-full-width" type="text" id="spotify_playlist_uri" name="spotify_playlist_uri">
        </div>
        <div class="one-half column">
          <table class="u-full-width">
            {% for playlist in playlists %}
              <tr>
                <td><input type="radio" name="youtube_playlist" id={{ playlist.id }} value={{ playlist.id }}></td>
                <td><img src={{ playlist.snippet.thumbnails.default.url }}></td>
                <td><a href="https://www.youtube.com/playlist?list={{ playlist.id }}" target="_blank">{{ playlist.snippet.title }}</a></td>
              </tr>
            {% endfor %}
              <tr>
                <td><input type="radio"></td>
                <td></td>
                <td>Just make a new playlist bitch</td>
              </tr>
          </table>
        </div>
        <button type="submit">Do the thing</button>
      </div>
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>